main {
	background-color: white;
	position: relative;
}

/* Slideshow container */
.slideshow-container {
	padding: 10%;
	right: 0;
	left: 0;
}

/* Hide the images by default */
.mySlides {
	display: none;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	min-height: 500px;

}

.journey-photo {
	max-width: 250px;
}

.text-slide {
	text-align: left;
	padding: 3%;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	padding: 10px;
	color: #9F8772;
	font-weight: bold;
	font-size: 1.5rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	border-radius: 3px 0 0 3px;
	top: 50%;
}


/* Position the "next button" to the right */
.next {
	right: 10px;
}

/* Position the "prev button" to the left */
.prev {
	left: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.isDisabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
	pointer-events: none;
}


/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 0 2px;
	background-color: #9F8772;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #A84368;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

.dots {
	text-align: center;
	margin: 20px 0;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {

	.prev,
	.next,
	.text {
		font-size: 11px;
	}

	.mySlides {
		flex-direction: column;
	}

	.text-slide {
		text-align: left;
		margin: 0 5%;
		padding-top: 5%;
	}

	.dots {
		display: none;
	}

}
